{% extends "base.html" %}

{% block content %}


<form action="/login" method='POST'>

    <p>
    <label for="name" >Username
    <input id="name" type="text" name="username" value='{{username}}'/>
    <span class="error" style="color: red">{{name_error}}</span></label></p>

    <p>
    <label>Password
    <input type="password" name="password" value='{{password}}' />
    <span class="error" style="color: red">{{word_error}}</span></label></p>

    <p>
    <label>Verify Password    
    <input type="password" name="verify_password" value='{{verify_password}}'/>
    <span class="error" style="color: red">{{verify_error}}</span></label></p>

    <input type="submit" value="Submit" />

    <p>
        <h4><a href='/signup'>Don't Have an Account?  Create one here!</a></h4>
    </p>
</form>


{% endblock %}