{% extends "base.html" %}

{% block content %}

<form action="/newpost" method="POST">
    <h1>Add a Blog Entry</h1>
        <p>
            <label for="title">Title for your new blog:<br></label>
            <input name="blog-id" type="hidden" value="{{ blog_id }}">
            <input name="blog-title" type="textbox" value="{{ blog_title }}">
        </p>
        <p>
            <label for="body">Your new blog:<br></label>
            <textarea name="body" value="{{body}}"></textarea>
        </p>
    <input type="submit" value="Add Entry">
</form>

<form action="/blog" method="POST">
    <h3>{{blog_title}}</h3>
    <P>
        {{body}}
    </P>
</form>

{% endblock %}
